<%= render 'optimadmin/shared/header/main_title', title: 'Edit Home Page Section' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: home_page_sections_path, title: 'Home Page Section' %>

  <%= render 'form', home_page_section: @home_page_section %>
</div>