<%= render 'optimadmin/shared/header/main_title', title: 'Edit Frequently Asked Question' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: frequently_asked_questions_path, title: 'Frequently Asked Question' %>

  <%= render 'form', frequently_asked_question: @frequently_asked_question %>
</div>