<div class="animation" data-animation-type="slideInUp">
  <%= image_tag gallery_image.image.send(cycle('square', 'potrait', 'horizontal')), alt: gallery_image.title, class: "gallery-image-#{gallery_image_counter}" %>
</div>
