footer {
  background-color: $beige;
  font-family: $tertiary-sans-serif-font;
  font-size: em(11px);
  letter-spacing: 1px;
  padding: em(35px, 11px) 0 em(30px, 11px);
  text-align: center;
  text-transform: uppercase;
}

.scroll-up {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 1999;
  width: 50px;
  border-radius: 27px;
  background: $white;

  @include responsive-to(mobile) {
    right: 20px;
    bottom: 30px;
    width: 30px;
  }
}
