footer {
  background-color: $beige;
  font-family: $tertiary-sans-serif-font;
  font-size: em(11px);
  letter-spacing: 1px;
  padding: em(35px, 11px) 0 em(30px, 11px);
  text-align: center;
  text-transform: uppercase;
}
