html,
body {
  font-size: 14px;
}

body {
  font-family: $primary-sans-serif-font;
  color: $purple;
}

a {
  color: $deep-purple;
  text-decoration: none;

  &:link {
    color: $deep-purple;
  }

  &:visited {
    color: $deep-purple;
  }

  &:hover {
    color: $purple;
    text-decoration: underline;
  }

  &:active {
    color: $light-purple;
  }
}
