<section class="<%= home_page_section_presenter.css_class %>" id="<%= home_page_section_presenter.css_class %>">
  <div class="animation" data-animation-type="slideInUp" data-animation-delay="500">
    <div class="row">
      <div class="small-12 columns">
          <%= home_page_section_presenter.content %>
      </div>
    </div>
  </div>
</section>
