<section class="<%= home_page_section_presenter.css_class %>">
  <div class="content-background">
    <div class="row first">
      <div class="small-12 columns">
        <h2><%= home_page_section_presenter.title %></h2>

        <%= home_page_section_presenter.content %>
      </div>
    </div>
  </div>
</section>
