<%= render 'optimadmin/shared/header/main_title', title: 'New Team Member' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: team_members_path, title: 'Team Member' %>

  <%= render 'form', team_member: @team_member %>
</div>