<h6>Contact Us</h6>

<p class="form-popout-introduction text-center">We'd love to hear from you!</p>

<%= render 'contacts/form' %>

<div class="form-popout-additional-information">
  <h6>Find Us</h6>

  <div class="form-popout-telephone">
    <%= telephone_link %>
  </div>

  <div class="form-popout-address">
    <%= global_site_settings['Address'].sub(', ', '<br />').html_safe %>
  </div>
</div>
