<div class="form-area">
  <h6>We're recruiting</h6>

  <p class="form-popout-introduction text-center">Please fill in the short form below. We will be in touch shortly.</p>

  <%= render 'shared/flash_messages' %>

  <%= render 'contacts/forms/recruitment_form' %>

  <div class="form-popout-additional-information">
    <h6>Find Us</h6>

    <div class="form-popout-telephone">
      <%= telephone_link %>
    </div>

    <div class="form-popout-address">
      <%= global_site_settings['Address'].sub(', ', '<br />').html_safe %>
    </div>
  </div>
</div>
