<%= render 'optimadmin/shared/header/main_title', title: 'New Service' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: services_path, title: 'Service' %>

  <%= render 'form', service: @service %>
</div>