label {
  margin-left: em(10px);
  color: $deep-purple;
  font-weight: 600;
}

.field {
  margin: em(11px) 0 em(17px);
  padding: 0;

  .field_with_errors {
    input[type='text'],
    textarea {
      border-top-color: $light-purple;
      border: 1px solid $light-purple;
    }
  }

  input[type='text'],
  textarea {
    display: block;
    width: 100%;
    min-height: 38px;
    padding: em(8px, 14px) em(12px, 14px);
    font-size: em(14px);
    color: $offset-black;
    vertical-align: middle;
    border-top: 1px solid $offset-white;
    border-radius: 3px;
    background-color: rgba(219, 218, 227, 0.74);
    line-height: 1.8;

    &:focus {
      outline: 1px solid $pastel-green;
    }
  }

  input[type='checkbox'] {
    margin: 0 em(12px, 14px);
    font-size: em(14px);
    color: $offset-black;
    vertical-align: middle;
    border-top: 1px solid $offset-white;
    border-radius: 3px;
  }
}

.name-fields {
  margin: em(11px) em(10px) em(17px) 0;
}

.new_contact .medium-6:last-of-type .name-fields {
  margin-right: 0;
}

%action-button {
  display: inline-block;
  margin: em(8px, 12px) auto em(4px, 12px);
  padding: em(11px, 12px) em(12px, 12px);
  border: 2px solid $dark-beige;
  border-radius: 63px;
  background-color: $deep-purple;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  font-family: $secondary-sans-serif-font;
  color: $white;
  font-size: em(12px);
  line-height: 1.25;
  font-weight: 600;

  &:link,
  &:visited {
    color: $white;
  }

  &:hover {
    border-color: $beige;
    background-color: $light-purple;
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }
}

.action-button,
input[type='submit'] {
  @extend %action-button;
}
