.service-container {
  text-align: center;
  top: -55px;
  margin-bottom: em(7px);
  padding: em(20px) em(71px);
  border: 5px solid $white;
  background-color: $pastel-green;
  box-shadow: $dark-green 0px 0px 20px 0px;
  position: absolute;

  @include responsive-to(mobile) {
    position: static;
    padding: em(20px) em(10px);
    text-align: left;
  }
}

%service-item {
  margin: 0 0 em(31px, 15px);
  padding: 0 0 em(22px, 15px);
  border-bottom: 4px solid $white;
  font-family: $secondary-serif-font;
  color: $deep-purple;
  font-size: em(15px);
  display: block;

  @include responsive-to(mobile) {
    margin: 0 0 em(16px, 15px);
    padding: 0 0 em(11px, 15px);
  }
}

.service-list {
  .service-item {
    @extend %service-item;
  }

  a {
    @extend %service-item;

    &:hover {
      text-decoration: none;
      border-color: $light-green;
    }
  }
}
