.testimonials {
  position: relative;

  .quote {
    position: absolute;

    &.open {
      top: 0;
      left: 20px;
    }

    &.close {
      bottom: -40px;
      right: 0;
    }
  }
}

.testimonial {
  width: 95%;
  padding: em(36px) em(13px) em(58px);
  line-height: 2;
  text-align: center;
  position: relative;

  @include responsive-to(mobile) {
    padding: em(17px, 14px) 0;
    text-align: left;

    p {
      font-size: em(14px);
    }
  }
}
