<div id="map-canvas" class="google-map" data-latitude="53.846652" data-longitude="-1.633218" data-title="<%= global_site_settings['Name'] %>">
</div>

<div class="hide" id="map-info-window">
  <%= global_site_settings['Name'] %>
</div>

<footer>
  &copy; <%= global_site_settings['Name'] %>
</footer>
